<!-- IF S_CLAUSI_RAIDPLANER_ACTIVE and S_CLAUSI_RAIDPLANER_PAGE -->

<!-- INCLUDEJS jquery-ui/jquery-ui.min.js -->
<!-- INCLUDEJS jquery.ui.touch-punch.min.js -->

<script type="text/javascript">
<!-- IF U_RAIDPLANER or M_RAIDPLANER -->
function validateForm(e)
{
	if($('#comment').val().length < 5) {
		alert('{L_RAIDPLANER_COMMENT_SHORT}');
		e.preventDefault();
	}
}
<!-- ENDIF -->
$(document).ready(function() {
	
	<!-- IF RAIDPLANER_INDEX -->
	function filterTable(table, filter) {
		if(filter == 0) table.fnFilter( '' , 0, false);
		else table.fnFilter("^"+filter+"$", 0, true);
	}
	
	$('table.clickable_row').on('click', 'tbody > tr > td', function() {
		if($(this).attr('class') != 'no_click') location.href = $(this).parent('tr').data('url');
	});
	
	var raidplanerTable = $('#datatables-raidplaner').dataTable( {
		"oLanguage": {
			<!-- IF S_USER_LANG == 'de' -->"sUrl": "{T_THEME_PATH}/libs/datatables/lang/dataTables.german.txt"<!-- ENDIF -->
		},
		"order": [[ 2, "asc" ]],
		"pageLength": 10,
		"lengthMenu": [[ 10, 15, 25, 50, 100, -1], [ 10, 15, 25, 50, 100, "{L_ALL}"] ],
		
		"columnDefs": [
		  { "targets": 0, "visible": false },
		  { "targets": 1, "visible": false },
		  { "orderData": [3,2], "targets": 2 },
		  { "targets": 3, "visible": false },
		  { "targets": 4, "orderable": false },
		  { "targets": 5, "orderable": false },
		  { "targets": 6, "orderable": false },
		],
		
		"fnInitComplete": function(oSettings, json) {
			filterTable(this, "future");
			createSelectpicker();
		}
	});
	
	$('select#raidplanerFilter').on('change',function(){
        var selectedValue = $(this).val();
		  filterTable(raidplanerTable, selectedValue);
	});
	<!-- ENDIF -->
	
	<!-- IF M_RAIDPLANER and RAIDPLANER_VIEW -->
	var raidplanerLogTable = $('#datatables-raidplaner-logs').dataTable( {
		"oLanguage": {
			<!-- IF S_USER_LANG == 'de' -->"sUrl": "{T_THEME_PATH}/libs/datatables/lang/dataTables.german.txt"<!-- ENDIF -->
		},
		"order": [[ 7, "asc" ]],
		"pageLength": 50,
		"lengthMenu": [[ 10, 15, 25, 50, 100, -1], [ 10, 15, 25, 50, 100, "{L_ALL}"] ],
		
		"columnDefs": [
		  { "targets": 6, "visible": false },
		  { "orderData": [6,7], "targets": 7 },
		],
	});

	<!-- ENDIF -->

	<!-- IF U_RAIDPLANER or M_RAIDPLANER -->
	
	$('.raidplaner-comment, .raidplaner-lastraids').popover({
		placement: 'top',
		trigger: 'hover',
	});

	var lang_status = {
		0: '{L_NOT_SIGNUP}',
		1: '{L_ATTENDING}',
		2: '{L_DECLINE}',
		3: '{L_SUBSTITUTE}',
		4: '{L_ACCEPT}'
	};
	var status_name = {
		0: 'not_signup',
		1: 'attending',
		2: 'decline',
		3: 'substitute',
		4: 'accept'
	};
	var role_name = {
		1: 'tank',
		2: 'heal',
		3: 'melee',
		4: 'range'
	};
	var icon = {
		0: 'minus',
		1: 'circle',
		2: 'times',
		3: 'minus',
		4: 'check'
	};
	
	function updateCount(status)
	{
		var count = $('#' + status + ' > div > ul').children('li:not(.header)').length;
		$('#' + status + '_count').text('( ' + count + ' )');
	}
	
	function closeEditorWarning(text){
		if(text == false) {
			window.onbeforeunload = null;
		}
		else {
			window.onbeforeunload = function(e) {
				return text;
			};
		}
	}
	
	phpbb.addAjaxCallback('raidplaner_updateall', function(res) {
		closeEditorWarning(false);
	});
	
	phpbb.addAjaxCallback('raidplaner_status', function(res) {
		$(this).parent('div.btn-group');
		$('#btn_' + res.RAID_ID).removeClass('btn-danger btn-warning btn-success btn-default');
		var newClass = '';
		switch(res.STATUS_ID) {
		 case '1':
			  newClass = 'btn-default';
		 break;
		 case '2':
			  newClass = 'btn-danger';
		 break;
		case '3':
			  newClass = 'btn-warning';
		 break;
		 default:
			  newClass = 'btn-default';
		}
		
		$('#btn_' + res.RAID_ID).addClass(newClass).html('<i class="fa fa-'+ icon[res.STATUS_ID] +'"></i> ' + lang_status[res.STATUS_ID] + ' <span class="caret"></span>');
		$('#decline_' + res.RAID_ID).text(res.DECLINE);
		$('#substitute_' + res.RAID_ID).text(res.SUBSTITUTE);
		$('#attending_' + res.RAID_ID).text(res.ATTENDING);
		
		$('ul#' + res.STATUSNAME + res.ROLENAME + 'View').append($('li#user_' + res.USER_ID));
		$('ul#' + res.STATUSNAME + res.ROLENAME + 'View').removeClass('emptyList');
		if($('ul#' + res.OLD_STATUSNAME + res.OLD_ROLENAME + 'View').children('li').length === 0) $('ul#' + res.OLD_STATUSNAME + res.OLD_ROLENAME + 'View').addClass('emptyList');
		
		$('li#user_' + res.USER_ID).attr('data-content', res.NEW_COMMENT);
		if(res.NEW_COMMENT.length > 0) { $('li#user_' + res.USER_ID).addClass('raidplaner-comment'); }
		else { $('li#user_' + res.USER_ID).removeClass('raidplaner-comment'); }
		
		raidplanerView.sortable( 'refresh' );
		
		updateCount(res.STATUSNAME);
		updateCount(res.OLD_STATUSNAME);
	});
	
	phpbb.addAjaxCallback('raidplaner_comment', function(res) {
		$('li#user_' + res.USER_ID).attr('data-content', res.NEW_COMMENT);
		if(res.NEW_COMMENT.length > 0) { $('li#user_' + res.USER_ID).addClass('raidplaner-comment'); }
		else { $('li#user_' + res.USER_ID).removeClass('raidplaner-comment'); }
	});
	
	<!-- ENDIF -->
	
	<!-- IF M_RAIDPLANER and FLAG == 'future' -->
	
	var preview = 1;
	$( "#preview" ).on( "change", function() {
		preview = $( "input#preview:checked" ).val();
		
		if(preview == 1){
			$('#apply').removeClass('hidden');
			$('#apply').addClass('show');
		}
		else {
			$('#apply').removeClass('show');
			$('#apply').addClass('hidden');
		}
	});
	
	var raidplanerView = $( "<!-- BEGIN n_status --><!-- BEGIN n_roles -->#{n_status.STATUSNAME}{n_status.n_roles.ROLENAME}View<!-- IF n_status.n_roles.LASTELEMENT == false -->, <!-- ENDIF --><!-- END n_roles --><!-- END n_status -->" );
	raidplanerView.sortable({
		connectWith: ".connectedSortable",
		items: "li:not(.header)",
		placeholder: "list-group-item list-group-item-warning placeholder",
		receive: function (e, ui) {
			if($(e.target).children('li:not(.header)').length > 0) {
				$(e.target).removeClass('emptyList');
			}
		},
		remove: function(e, ui) {
			if($(e.target).children('li:not(.header)').length == 0) {
				$(e.target).addClass('emptyList');
			}
		},
		out: function(e, ui) {
			if (this === ui.item.parent()[0]) {
				if($(e.target).children('li:not(.header)').length == 0) {
					$(e.target).addClass('emptyList');
				}
			}
		},
		update: function (e, ui) {
			if( preview != 1 )
			{
				if (this === ui.item.parent()[0])
				{
					var data = "user_id=" + ui.item.context.id.replace("user_", "") + "&status_id=" + e.target.dataset.status + "&role_id=" + e.target.dataset.role;
					$.ajax({
						data: data,
						type: 'POST',
						url: '{U_MODSTATUSCHANGE}'
					});
					closeEditorWarning(false);
				}
			}
			else if( preview == 1 )
			{
				raidplanerView.sortable( 'refresh' );
				var sorted = new Array();
				
				for (status in status_name) {
					for(role in role_name) {
						sorted = $('#' + status_name[status] + role_name[role] + 'View').sortable('serialize');
						$('input#' + status_name[status] + '_' + role_name[role]).val(sorted);
					}
				}
				
				$('input#sorted').val(sorted);
				closeEditorWarning('{L_SAVE_CHANGES}');
			}
			updateCount(status_name[e.target.dataset.status]);
			raidplanerView.sortable( 'refreshPositions' );
		}
	}).disableSelection();
	<!-- ENDIF -->

});

</script>
<!-- ENDIF -->
