<!-- IF S_CLAUSI_RAIDPLANER_ACTIVE -->
<script type="text/javascript">
$(document).ready(function() {
	function filterTable(table, filter) {
		if(filter == 0) table.fnFilter( '' , 2, false);
		else table.fnFilter("^"+filter+"$", 2, true);
	}
	
	var raidplanerTable = $('#datatables-raidplaner').dataTable( {
		"oLanguage": {
			"sUrl": "{T_THEME_PATH}/libs/datatables/lang/dataTables.german.txt"
		},
		"order": [[ 0, "asc" ]],
		"pageLength": 10,
		"lengthMenu": [[ 10, 15, 25, 50, 100, -1], [ 10, 15, 25, 50, 100, "Alle"] ],
		
		"columnDefs": [
		  { "targets": 1, "visible": false },
		  { "orderData": [1,2], "targets": 2 },
		  { "targets": 2, "visible": false },
		],
		
		"fnInitComplete": function(oSettings, json) {
			createSelectpicker();
			filterTable(this, "future");
		}
	});
	
	$('select#raidplanerFilter').on('change',function(){
        var selectedValue = $(this).val();
		  filterTable(raidplanerTable, selectedValue);
	});
});
$(document).ready(function() {
	$(".clickableRow").click(function() {
		window.document.location = $(this).data("url");
	});
});
</script>
<!-- ENDIF -->
