<!-- INCLUDE overall_header.html -->

<h2>{L_RAIDPLANER_PAGE}</h2>

<div class="table-responsive">
	<table class="table table-hover table-striped" id="datatables-raidplaner">
		<thead>
			<tr>
				<th>Date</th>
				<th>Day</th>
				<th>Start</th>
				<th>Note</th>
				<th>Members</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		
		<tbody>
			<!-- BEGIN n_raids -->
			<tr class="clickableRow" data-url="{n_raids.U_RAID}">
				<td>{n_raids.DATE}</td>
				<td>{n_raids.DAY}</td>
				<td>{n_raids.START_TIME}</td>
				<td>{n_raids.NOTE}</td>
				<td>{n_raids.MEMBERS}</td>
				<td>&nbsp;</td>
			</tr>
			<!-- END n_raids -->
		</tbody>
	</table>
</div>

<!-- IF RAIDPLANER_MESSAGE -->
<div class="alert <!-- IF S_ALERTTYPE == 'success' -->alert-success<!-- ELSEIF S_ALERTTYPE == 'warning' -->alert-warning<!-- ELSEIF S_ALERTTYPE == 'danger' -->alert-danger<!-- ELSE -->alert-info<!-- ENDIF --> alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	{RAIDPLANER_MESSAGE}
</div>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
