
#datatables-raidplaner  a {
	text-decoration: none;
}

.table-striped.dataTable tbody tr.active td {
	background-color: #424242 !important;
}
.table.dataTable tbody tr.active:hover td {
	background-color: #282828 !important;
}

.checkbox {
	background-color: #6c6c6c;
}

.checkbox:hover {
	background-color: #636363;
}

.button-width {
	min-width: 115px;
}

.emptyList {
	height: 24px;
}

.attendee_view td {
	width: 25%;
}
