<!-- INCLUDE overall_header.html -->

<!-- IF S_CLAUSI_RAIDPLANER_ACTIVE and U_RAIDPLANER -->

<h2>{L_RAIDPLANER_PAGE}</h2>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="row bottom5">
			<div class="col-xs-12">
				<div class="form-group pull-right">
					<label for="raidplanerFilter">Filter:</label> 
					<select id="raidplanerFilter">
						<option value="0">{L_ALL}</option>
						<option value="past">{L_PAST_RAIDS}</option>
						<option value="future" selected="selected">{L_FUTURE_RAIDS}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="table-responsive">
			<!-- IF U_RAIDPLANER --><form id="raidplaner_index" role="form" method="post" action="{U_ACTION}"><!-- ENDIF -->
			<table class="table table-hover table-striped clickable_row checkboxes" id="datatables-raidplaner">
				<thead>
					<tr>
						<th>Flag</th>
						<th>{L_EVENT}</th>
						<th>{L_DATE}</th>
						<th>Timestamp</th>
						<th>{L_NOTE}</th>
						<th>{L_MEMBERS}</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				
				<tbody>
					<!-- BEGIN n_raids -->
					<tr class="<!-- IF n_raids.FIRSTFUTURE == 1 -->active<!-- ENDIF -->" data-url="{n_raids.U_RAID}">
						<td>{n_raids.FLAG}</td>
						<td>{n_raids.EVENTNAME}</td>
						<td><a href="{n_raids.U_RAID}">{n_raids.DATE}</a> <small><em>({n_raids.DAY})</em></small></td>
						<td>{n_raids.TIMESTAMP}</td>
						<td>{n_raids.NOTE}</td>
						<td>
							<strong><abbr title="{L_ACCEPT}" class="text-success" id="accept_{n_raids.ID}">{n_raids.MEMBERS_ACCEPT} / {n_raids.RAIDSIZE}</abbr></strong><br />
							<small>
								<abbr title="{L_ATTENDING}" id="attending_{n_raids.ID}">{n_raids.MEMBERS_ATTENDING}</abbr> / <abbr title="{L_SUBSTITUTE}" class="text-warning" id="substitute_{n_raids.ID}">{n_raids.MEMBERS_SUBSTITUTE}</abbr> / <abbr title="{L_DECLINE}" class="text-danger" id="decline_{n_raids.ID}">{n_raids.MEMBERS_DECLINE}</abbr>
							</small>
						</td>
						<td class="no_click">
						<!-- IF U_RAIDPLANER -->
						<div class="form-group">
							<div class="btn-group" data-toggle="buttons">
								<button type="button" id="btn_{n_raids.ID}" class="btn <!-- IF n_raids.USERSTATUS == 2 -->btn-danger<!-- ELSEIF n_raids.USERSTATUS == 3 -->btn-warning<!-- ELSEIF n_raids.USERSTATUS == 4 -->btn-success<!-- ELSE -->btn-default<!-- ENDIF--> dropdown-toggle button-width" data-toggle="dropdown">
									<!-- IF n_raids.USERSTATUS == 2 --><i class="fa fa-times"></i> {L_DECLINE}<!-- ELSEIF n_raids.USERSTATUS == 3 --><i class="fa fa-minus"></i> {L_SUBSTITUTE}<!-- ELSEIF n_raids.USERSTATUS == 4 --><i class="fa fa-check"></i> {L_ACCEPT}<!-- ELSEIF n_raids.USERSTATUS == 1 --><i class="fa fa-circle"></i> {L_ATTENDING}<!-- ELSE -->{L_NOT_SIGNUP}<!-- ENDIF--> <!-- IF n_raids.FLAG == 'future' --><span class="caret"></span><!-- ENDIF -->
								</button>
								<!-- IF n_raids.FLAG == 'future' -->
								<ul class="dropdown-menu" role="menu">
									<li class="bg-primary"><a href="{n_raids.U_COMMENT}" data-ajax="raidplaner_comment"><i class="fa fa-comment"></i> {L_COMMENT}</a></li>
									<li class="bg-success"><a href="{n_raids.U_STATUS}/1" data-ajax="raidplaner_status"><i class="fa fa-circle"></i> {L_ATTENDING}</a></li>
									<li class="bg-warning"><a href="{n_raids.U_STATUS}/3" data-ajax="raidplaner_status"><i class="fa fa-minus"></i> {L_SUBSTITUTE}</a></li>
									<li class="bg-danger"><a href="{n_raids.U_STATUS}/2" data-ajax="raidplaner_status"><i class="fa fa-times"></i> {L_DECLINE}</a></li>
								</ul>
								<label class="btn btn-default checkbox">
									<input type="checkbox" name="status[{n_raids.ID}]" id="status_{n_raids.ID}" value="1">
								</label>
								<!-- ENDIF -->
							</div>
						</div>
						<!-- ENDIF --> 
						</td>
					</tr>
					<!-- END n_raids -->
				</tbody>
			</table>
			<!-- IF U_RAIDPLANER -->
			{S_FORM_TOKEN}
			<div class="form-inline">
				<div class="form-group pull-right">
					<label for="comment" class="sr-only">{L_COMMENT}:</label> 
					<input type="text" class="form-control input-sm" id="comment" name="comment" placeholder="{L_COMMENT}">
					<label for="change_all_status" class="sr-only">{L_STATUS}:</label> 
					<select id="change_all_status" name="change_all_status">
						<option value="1" class="bg-primary" selected="selected">{L_ATTENDING}</option>
						<option value="3" class="bg-warning">{L_SUBSTITUTE}</option>
						<option value="2" class="bg-danger">{L_DECLINE}</option>
					</select>
					<input class="btn btn-default btn-sm" type="submit" id="submit" name="submit" value="{L_CHANGE_ALL_SELECTED}" />
				</div>
			</div>
			</form>
			<!-- ENDIF --> 
		</div>

	</div>
</div>

<!-- ELSE -->

<div class="well">{L_RAIDPLANER_NOACCESS}</div>

<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
